/* CSS Document */

/* Global Styles --------------------------- */

img {
  width: 300px; height: 300px;
}

body { color:grey;
}

/*Profile---------------------------------*/

header { background-color:lemonchiffon;
}



/* Projects ------------------------------*/


/* Work Experience--------------------------*/


/* Education---------------------------------*/



/* Contact ----------------------------------*/
