/* CSS Document */

/* Global Styles --------------------------- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


img {
  width: 300px; height: 300px;
}

body {
	color:grey;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	
}


a {
	color:green;
}

a:hover {
	text-decoration: none;
}

h2{
	
}
.content-wrap {
	width: 800px;
	margin: 0 auto;
	padding: 60px 0;
		
}

h1 {
	font-size: 50px;
	line-height: 1;
}

h1 , h2 {
	font-family:'Caveat', cursive;
	margin: 0;
}


/*Profile---------------------------------*/

header { background-color:darksalmon;
	
}




/* Projects ------------------------------
 notes- figure out why hover is not working correctly*/

.project a {
	color:darkblue;
}

.project {
	background-color: antiquewhite;
}

.project a {
	color:blue;
}
 .btn{
	color:grey;
	background:darksalmon;
	text-decoration: none;
	padding: 8px;
	border-radius: 4px;
	display: inline-block;
		
}


.btn:hover {
	background-color: rgba(246, 239, 238, 1)  80%;
}

.project-item {
	overflow: hidden;
	border-bottom: 1px dashed red;
	padding: 25px 0;
}

.project-item img {
	float: left;
	margin: 20px;
		
}

.project-item h3 {
	margin-top: 0;
}


/* Work Experience--------------------------*/

.work{
	background-color: rgba(204, 232, 204, 1);
}

/* Education---------------------------------*/

.education{
	background-color:rgba(246, 239, 238, 1);
}


/* Contact ----------------------------------*/

.contact {
	background-color:rgba(226, 182, 207, 1);
}
