/* CSS Document */

/* Global Styles --------------------------- */

img {
  width: 300px; height: 300px;
}

body { color:grey;
}

/*Profile---------------------------------*/

header { background-color:darksalmon;
}


* Projects ------------------------------*/

.projects {
	background-color: antiquewhite;
}
/* Work Experience--------------------------*/

.work{
	background-color: rgba(204, 232, 204, 1);
}

/* Education---------------------------------*/

.education{
	background-color:rgba(246, 239, 238, 1);
}


/* Contact ----------------------------------*/

.contact {
	background-color:rgba(226, 182, 207, 1);
}
